services:
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:23.0.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "9080:8080"
    networks:
      - microservices-net

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:9080/realms/microservices-realm
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs
    depends_on:
      - keycloak
    networks:
      - microservices-net

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:9080/realms/microservices-realm
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs
    depends_on:
      - keycloak
      - product-service
    networks:
      - microservices-net

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8085:8085"
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:9080/realms/microservices-realm
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs
      - PRODUCT_SERVICE_URL=http://product-service:8081
      - ORDER_SERVICE_URL=http://order-service:8082
    depends_on:
      - keycloak
      - product-service
      - order-service
    networks:
      - microservices-net

  react-app:
    build: ./react-app
    container_name: react-app
    ports:
      - "3000:80"
    depends_on:
      - gateway
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
